<!-- Master company dataset for the salary-band tracker. Bands are estimated
     total comp (LPA, India) from public sources; s1=SDE-1, s2=SDE-2, s3=SDE-3/Senior. -->
<script>
window.SC_COMP_ALL = [
  {c:'Google',cat:'FAANG',loc:['Bengaluru','Gurgaon','Hyderabad'],url:'careers.google.com',s1:[32,50],s2:[45,70],s3:[70,110]},
  {c:'Meta',cat:'FAANG',loc:['Bengaluru'],url:'metacareers.com',s1:[35,55],s2:[50,85],s3:[80,130]},
  {c:'Amazon',cat:'FAANG',loc:['Bengaluru','Gurgaon','Hyderabad','Chennai'],url:'amazon.jobs',s1:[26,40],s2:[44,66],s3:[62,95]},
  {c:'Microsoft',cat:'FAANG',loc:['Noida','Bengaluru','Hyderabad'],url:'careers.microsoft.com',s1:[26,42],s2:[44,68],s3:[65,100]},
  {c:'Apple',cat:'FAANG',loc:['Bengaluru','Hyderabad'],url:'apple.com/careers',s1:[30,48],s2:[45,70],s3:[70,110]},
  {c:'Netflix',cat:'FAANG',loc:['Mumbai'],url:'jobs.netflix.com',s1:[40,60],s2:[60,100],s3:[100,160]},
  {c:'Uber',cat:'Product',loc:['Bengaluru','Hyderabad'],url:'uber.com/careers',s1:[28,45],s2:[50,80],s3:[70,110]},
  {c:'LinkedIn',cat:'FAANG',loc:['Bengaluru'],url:'careers.linkedin.com',s1:[35,55],s2:[55,85],s3:[90,130]},
  {c:'Salesforce',cat:'Product',loc:['Bengaluru','Hyderabad'],url:'salesforce.com/company/careers',s1:[22,38],s2:[45,70],s3:[70,100]},
  {c:'Adobe',cat:'Product',loc:['Noida','Bengaluru'],url:'adobe.com/careers',s1:[22,35],s2:[38,55],s3:[55,85]},
  {c:'Nvidia',cat:'Product',loc:['Bengaluru','Pune','Hyderabad'],url:'nvidia.com/careers',s1:[30,48],s2:[45,75],s3:[70,110]},
  {c:'Oracle',cat:'Enterprise',loc:['Bengaluru','Hyderabad','Noida'],url:'oracle.com/careers',s1:[18,32],s2:[30,50],s3:[50,75]},
  {c:'SAP Labs',cat:'Enterprise',loc:['Bengaluru'],url:'sap.com/careers',s1:[18,32],s2:[30,50],s3:[50,75]},
  {c:'Intuit',cat:'Product',loc:['Bengaluru'],url:'jobs.intuit.com',s1:[30,48],s2:[50,80],s3:[75,110]},
  {c:'PayPal',cat:'Fintech',loc:['Bengaluru','Chennai'],url:'paypal.com/careers',s1:[22,38],s2:[38,60],s3:[55,85]},
  {c:'ServiceNow',cat:'Product',loc:['Hyderabad','Bengaluru'],url:'servicenow.com/careers',s1:[28,45],s2:[45,70],s3:[70,105]},
  {c:'Workday',cat:'Product',loc:['Pune'],url:'workday.com/careers',s1:[25,42],s2:[42,65],s3:[65,95]},
  {c:'Twilio',cat:'Product',loc:['Bengaluru'],url:'twilio.com/careers',s1:[28,45],s2:[45,70],s3:[70,100]},
  {c:'Cloudflare',cat:'Product',loc:['Bengaluru'],url:'cloudflare.com/careers',s1:[30,48],s2:[48,75],s3:[75,110]},
  {c:'Snowflake',cat:'Product',loc:['Pune'],url:'snowflake.com/careers',s1:[35,55],s2:[55,85],s3:[85,125]},
  {c:'Databricks',cat:'Product',loc:['Bengaluru'],url:'databricks.com/company/careers',s1:[40,60],s2:[55,85],s3:[90,140]},
  {c:'Confluent',cat:'Product',loc:['Bengaluru'],url:'confluent.io/careers',s1:[35,55],s2:[50,80],s3:[80,120]},
  {c:'MongoDB',cat:'Product',loc:['Gurgaon'],url:'mongodb.com/careers',s1:[30,48],s2:[48,72],s3:[72,105]},
  {c:'HashiCorp',cat:'Product',loc:['Remote','Bengaluru'],url:'hashicorp.com/careers',s1:[32,50],s2:[50,80],s3:[80,115]},
  {c:'GitLab',cat:'Product',loc:['Remote'],url:'about.gitlab.com/jobs',s1:[30,50],s2:[50,80],s3:[80,115]},
  {c:'Atlassian',cat:'Product',loc:['Bengaluru','Remote'],url:'atlassian.com/company/careers',s1:[28,45],s2:[50,75],s3:[70,100]},
  {c:'Coinbase',cat:'Fintech',loc:['Remote'],url:'coinbase.com/careers',s1:[40,60],s2:[60,90],s3:[90,130]},
  {c:'Stripe',cat:'Fintech',loc:['Bengaluru','Remote'],url:'stripe.com/jobs',s1:[38,58],s2:[55,85],s3:[80,130]},
  {c:'Airbnb',cat:'Product',loc:['Bengaluru'],url:'careers.airbnb.com',s1:[35,55],s2:[55,85],s3:[85,125]},
  {c:'Rubrik',cat:'Product',loc:['Bengaluru'],url:'rubrik.com/company/careers',s1:[35,55],s2:[50,85],s3:[80,120]},
  {c:'Nutanix',cat:'Product',loc:['Bengaluru'],url:'nutanix.com/careers',s1:[28,45],s2:[45,70],s3:[70,100]},
  {c:'Arista Networks',cat:'Product',loc:['Bengaluru','Pune'],url:'arista.com/careers',s1:[30,50],s2:[50,80],s3:[80,115]},
  {c:'Palo Alto Networks',cat:'Product',loc:['Bengaluru'],url:'paloaltonetworks.com/careers',s1:[28,45],s2:[45,72],s3:[72,105]},
  {c:'Zscaler',cat:'Product',loc:['Bengaluru'],url:'zscaler.com/careers',s1:[26,42],s2:[40,65],s3:[65,95]},
  {c:'VMware',cat:'Enterprise',loc:['Bengaluru','Pune'],url:'careers.vmware.com',s1:[24,40],s2:[40,60],s3:[60,90]},
  {c:'Cisco',cat:'Enterprise',loc:['Bengaluru'],url:'cisco.com/careers',s1:[22,38],s2:[38,58],s3:[58,85]},
  {c:'Qualcomm',cat:'Product',loc:['Bengaluru','Hyderabad'],url:'qualcomm.com/careers',s1:[24,40],s2:[40,60],s3:[60,90]},
  {c:'Intel',cat:'Product',loc:['Bengaluru','Hyderabad'],url:'intel.com/careers',s1:[22,38],s2:[36,55],s3:[55,82]},
  {c:'AMD',cat:'Product',loc:['Bengaluru','Hyderabad'],url:'amd.com/careers',s1:[22,38],s2:[38,58],s3:[58,85]},
  {c:'Samsung R&D',cat:'Product',loc:['Bengaluru','Noida'],url:'samsung.com/careers',s1:[18,32],s2:[30,50],s3:[50,75]},
  {c:'Visa',cat:'Fintech',loc:['Bengaluru'],url:'visa.com/careers',s1:[24,40],s2:[40,62],s3:[62,90]},
  {c:'Mastercard',cat:'Fintech',loc:['Pune','Gurgaon'],url:'mastercard.com/careers',s1:[24,40],s2:[40,62],s3:[62,90]},
  {c:'American Express',cat:'Fintech',loc:['Gurgaon','Bengaluru'],url:'aexp.com/careers',s1:[22,38],s2:[36,55],s3:[55,82]},
  {c:'Goldman Sachs',cat:'GCC',loc:['Bengaluru','Hyderabad'],url:'goldmansachs.com/careers',s1:[24,42],s2:[42,65],s3:[65,95]},
  {c:'Morgan Stanley',cat:'GCC',loc:['Bengaluru','Mumbai'],url:'morganstanley.com/careers',s1:[22,40],s2:[40,62],s3:[62,90]},
  {c:'JPMorgan Chase',cat:'GCC',loc:['Bengaluru','Hyderabad','Mumbai'],url:'jpmorganchase.com/careers',s1:[18,32],s2:[32,52],s3:[52,78]},
  {c:'Wells Fargo',cat:'GCC',loc:['Bengaluru','Hyderabad','Chennai'],url:'wellsfargojobs.com',s1:[16,30],s2:[30,50],s3:[50,72]},
  {c:'Deutsche Bank',cat:'GCC',loc:['Pune','Bengaluru'],url:'db.com/careers',s1:[16,30],s2:[30,48],s3:[48,70]},
  {c:'Barclays',cat:'GCC',loc:['Pune','Chennai'],url:'home.barclays/careers',s1:[16,30],s2:[30,48],s3:[48,70]},
  {c:'UBS',cat:'GCC',loc:['Pune','Mumbai'],url:'ubs.com/careers',s1:[18,32],s2:[32,50],s3:[50,72]},
  {c:'Standard Chartered',cat:'GCC',loc:['Bengaluru','Chennai'],url:'sc.com/careers',s1:[16,28],s2:[28,45],s3:[45,68]},
  {c:'HSBC',cat:'GCC',loc:['Pune','Hyderabad'],url:'hsbc.com/careers',s1:[16,28],s2:[28,45],s3:[45,68]},
  {c:'Fidelity Investments',cat:'GCC',loc:['Bengaluru','Chennai'],url:'fidelity.com/careers',s1:[20,35],s2:[35,55],s3:[55,80]},
  {c:'BlackRock',cat:'GCC',loc:['Gurgaon','Mumbai'],url:'blackrock.com/careers',s1:[22,38],s2:[38,58],s3:[58,85]},
  {c:'Optum (UHG)',cat:'GCC',loc:['Noida','Gurgaon','Hyderabad','Bengaluru'],url:'careers.unitedhealthgroup.com',s1:[16,30],s2:[30,50],s3:[50,72]},
  {c:'Walmart Global Tech',cat:'Enterprise',loc:['Bengaluru','Chennai'],url:'careers.walmart.com',s1:[20,35],s2:[35,55],s3:[55,82]},
  {c:'Target',cat:'Enterprise',loc:['Bengaluru'],url:'india.target.com/careers',s1:[20,34],s2:[34,52],s3:[52,78]},
  {c:'Expedia Group',cat:'Product',loc:['Gurgaon'],url:'careers.expediagroup.com',s1:[24,40],s2:[40,60],s3:[60,90]},
  {c:'Booking.com',cat:'Product',loc:['Bengaluru'],url:'careers.booking.com',s1:[28,45],s2:[45,70],s3:[70,100]},
  {c:'Flipkart',cat:'Product',loc:['Bengaluru'],url:'flipkartcareers.com',s1:[22,38],s2:[35,55],s3:[50,80]},
  {c:'PhonePe',cat:'Fintech',loc:['Bengaluru'],url:'phonepe.com/careers',s1:[22,40],s2:[40,68],s3:[62,95]},
  {c:'Razorpay',cat:'Fintech',loc:['Bengaluru'],url:'razorpay.com/careers',s1:[18,32],s2:[28,48],s3:[45,72]},
  {c:'CRED',cat:'Fintech',loc:['Bengaluru'],url:'careers.cred.club',s1:[22,38],s2:[45,70],s3:[60,90]},
  {c:'Swiggy',cat:'Product',loc:['Bengaluru'],url:'careers.swiggy.com',s1:[20,34],s2:[35,55],s3:[50,80]},
  {c:'Zomato',cat:'Product',loc:['Gurgaon'],url:'zomato.com/careers',s1:[20,34],s2:[35,55],s3:[50,80]},
  {c:'Meesho',cat:'Product',loc:['Bengaluru'],url:'meesho.io/jobs',s1:[22,38],s2:[38,58],s3:[55,85]},
  {c:'Groww',cat:'Fintech',loc:['Bengaluru'],url:'groww.in/careers',s1:[22,38],s2:[35,55],s3:[50,78]},
  {c:'Zerodha',cat:'Fintech',loc:['Bengaluru'],url:'zerodha.com/careers',s1:[20,35],s2:[35,55],s3:[50,75]},
  {c:'Navi',cat:'Fintech',loc:['Bengaluru'],url:'navi.com/careers',s1:[20,36],s2:[35,55],s3:[50,78]},
  {c:'Zeta',cat:'Fintech',loc:['Bengaluru'],url:'zeta.tech/careers',s1:[22,38],s2:[35,55],s3:[55,82]},
  {c:'Paytm',cat:'Fintech',loc:['Noida','Bengaluru'],url:'paytm.com/careers',s1:[16,32],s2:[30,50],s3:[45,72]},
  {c:'Dream11',cat:'Product',loc:['Mumbai'],url:'dream11.com/careers',s1:[25,45],s2:[42,70],s3:[65,100]},
  {c:'Games24x7',cat:'Product',loc:['Bengaluru','Mumbai'],url:'games24x7.com/careers',s1:[24,42],s2:[40,65],s3:[60,90]},
  {c:'ShareChat',cat:'Product',loc:['Bengaluru'],url:'sharechat.com/careers',s1:[22,40],s2:[35,55],s3:[55,82]},
  {c:'Ola',cat:'Product',loc:['Bengaluru'],url:'olacabs.com/careers',s1:[18,34],s2:[32,52],s3:[48,75]},
  {c:'Urban Company',cat:'Product',loc:['Gurgaon'],url:'urbancompany.com/careers',s1:[20,36],s2:[35,55],s3:[50,78]},
  {c:'Nykaa',cat:'Product',loc:['Mumbai'],url:'nykaa.com/careers',s1:[16,30],s2:[28,48],s3:[45,70]},
  {c:'Lenskart',cat:'Product',loc:['Gurgaon'],url:'lenskart.com/careers',s1:[16,30],s2:[28,48],s3:[45,70]},
  {c:'Postman',cat:'Product',loc:['Bengaluru'],url:'postman.com/company/careers',s1:[28,45],s2:[45,70],s3:[70,100]},
  {c:'Freshworks',cat:'Product',loc:['Chennai','Hyderabad'],url:'freshworks.com/careers',s1:[18,32],s2:[32,52],s3:[52,78]},
  {c:'Zoho',cat:'Product',loc:['Chennai'],url:'zoho.com/careers',s1:[12,24],s2:[22,38],s3:[38,58]},
  {c:'BrowserStack',cat:'Product',loc:['Mumbai'],url:'browserstack.com/careers',s1:[22,40],s2:[38,60],s3:[58,88]},
  {c:'Chargebee',cat:'Product',loc:['Chennai'],url:'chargebee.com/careers',s1:[18,32],s2:[32,50],s3:[50,75]},
  {c:'Hasura',cat:'Product',loc:['Bengaluru','Remote'],url:'hasura.io/careers',s1:[22,40],s2:[38,58],s3:[58,85]},
  {c:'Innovaccer',cat:'Product',loc:['Noida'],url:'innovaccer.com/careers',s1:[18,34],s2:[32,52],s3:[52,78]},
  {c:'Druva',cat:'Product',loc:['Pune'],url:'druva.com/careers',s1:[20,36],s2:[35,55],s3:[55,82]},
  {c:'Whatfix',cat:'Product',loc:['Bengaluru'],url:'whatfix.com/careers',s1:[18,34],s2:[32,52],s3:[52,78]},
  {c:'Sprinklr',cat:'Product',loc:['Gurgaon'],url:'sprinklr.com/careers',s1:[22,40],s2:[35,55],s3:[55,82]},
  {c:'ThoughtSpot',cat:'Product',loc:['Bengaluru'],url:'thoughtspot.com/careers',s1:[25,42],s2:[40,65],s3:[65,95]},
  {c:'Media.net',cat:'Product',loc:['Mumbai','Bengaluru'],url:'media.net/careers',s1:[25,45],s2:[40,70],s3:[65,100]},
  {c:'Cohesity',cat:'Product',loc:['Bengaluru','Pune'],url:'cohesity.com/careers',s1:[28,45],s2:[45,70],s3:[70,100]},
  {c:'Wayfair',cat:'Product',loc:['Bengaluru'],url:'wayfair.com/careers',s1:[20,35],s2:[35,55],s3:[55,80]},
  {c:'Cvent',cat:'Product',loc:['Gurgaon'],url:'careers.cvent.com',s1:[16,30],s2:[28,45],s3:[45,68]},
  {c:'Arcesium',cat:'HFT',loc:['Bengaluru','Hyderabad'],url:'arcesium.com/careers',s1:[25,42],s2:[42,65],s3:[65,95]},
  {c:'DE Shaw',cat:'HFT',loc:['Hyderabad'],url:'deshawindia.com/careers',s1:[35,55],s2:[55,90],s3:[90,150]},
  {c:'Tower Research',cat:'HFT',loc:['Gurgaon'],url:'tower-research.com/open-positions',s1:[40,65],s2:[60,110],s3:[90,160]},
  {c:'Graviton Research',cat:'HFT',loc:['Gurgaon'],url:'gravitontrading.com',s1:[35,60],s2:[55,100],s3:[80,140]},
  {c:'Quadeye',cat:'HFT',loc:['Gurgaon'],url:'quadeye.com/careers',s1:[35,60],s2:[55,95],s3:[85,140]},
  {c:'WorldQuant',cat:'HFT',loc:['Mumbai'],url:'worldquant.com/careers',s1:[30,52],s2:[50,85],s3:[80,130]},
  {c:'Optiver',cat:'HFT',loc:['Mumbai'],url:'optiver.com/careers',s1:[40,70],s2:[65,110],s3:[100,160]},
  {c:'AlphaGrep',cat:'HFT',loc:['Bengaluru','Mumbai'],url:'alpha-grep.com',s1:[30,55],s2:[50,90],s3:[80,130]},
  {c:'NK Securities',cat:'HFT',loc:['Gurgaon'],url:'nksecurities.com',s1:[35,60],s2:[55,95],s3:[85,140]},
  {c:'PhysicsWallah',cat:'Startup',loc:['Noida'],url:'physicswallah.com/careers',s1:[14,28],s2:[26,45],s3:[42,65]},
  {c:'upGrad',cat:'Startup',loc:['Mumbai'],url:'upgrad.com/careers',s1:[14,28],s2:[26,42],s3:[40,62]},
  {c:'Delhivery',cat:'Startup',loc:['Gurgaon','Bengaluru'],url:'delhivery.com/careers',s1:[14,28],s2:[26,45],s3:[42,65]},
  {c:'Cars24',cat:'Startup',loc:['Gurgaon'],url:'cars24.com/careers',s1:[16,30],s2:[28,48],s3:[45,70]},
  {c:'Spinny',cat:'Startup',loc:['Gurgaon'],url:'spinny.com/careers',s1:[16,30],s2:[28,46],s3:[44,66]},
  {c:'MakeMyTrip',cat:'Product',loc:['Gurgaon'],url:'careers.makemytrip.com',s1:[18,32],s2:[30,50],s3:[48,72]},
  {c:'Pine Labs',cat:'Fintech',loc:['Noida'],url:'pinelabs.com/careers',s1:[18,32],s2:[30,50],s3:[48,72]},
  {c:'slice',cat:'Fintech',loc:['Bengaluru'],url:'sliceit.com/careers',s1:[20,36],s2:[32,52],s3:[50,75]},
  {c:'Jupiter',cat:'Fintech',loc:['Bengaluru'],url:'jupiter.money/careers',s1:[20,36],s2:[32,52],s3:[50,75]},
  {c:'OfBusiness',cat:'Startup',loc:['Gurgaon'],url:'ofbusiness.com/careers',s1:[18,34],s2:[30,50],s3:[48,72]},
  {c:'Udaan',cat:'Startup',loc:['Bengaluru'],url:'udaan.com/careers',s1:[18,34],s2:[30,50],s3:[48,72]},
  {c:'Blinkit',cat:'Product',loc:['Gurgaon'],url:'blinkit.com/careers',s1:[20,36],s2:[32,52],s3:[50,75]},
  {c:'Zepto',cat:'Startup',loc:['Bengaluru','Mumbai'],url:'zeptonow.com/careers',s1:[20,38],s2:[34,55],s3:[52,80]},
  {c:'BigBasket',cat:'Product',loc:['Bengaluru'],url:'bigbasket.com/careers',s1:[16,30],s2:[28,46],s3:[44,68]},
  {c:'PolicyBazaar',cat:'Fintech',loc:['Gurgaon'],url:'policybazaar.com/careers',s1:[16,30],s2:[26,45],s3:[42,66]},
  {c:'GlobalLogic',cat:'Services',loc:['Noida','Bengaluru'],url:'globallogic.com/careers',s1:[10,22],s2:[20,38],s3:[35,55]},
  {c:'Accenture',cat:'Services',loc:['Bengaluru','Pune','Hyderabad'],url:'accenture.com/careers',s1:[8,18],s2:[16,30],s3:[28,45]},
  {c:'TCS',cat:'Services',loc:['Pan-India'],url:'tcs.com/careers',s1:[6,14],s2:[12,24],s3:[22,38]},
  {c:'Infosys',cat:'Services',loc:['Pan-India'],url:'infosys.com/careers',s1:[6,14],s2:[12,24],s3:[22,38]},
  {c:'Wipro',cat:'Services',loc:['Pan-India'],url:'careers.wipro.com',s1:[6,14],s2:[12,24],s3:[22,38]},
  {c:'Cognizant',cat:'Services',loc:['Pan-India'],url:'cognizant.com/careers',s1:[6,14],s2:[12,24],s3:[22,38]},
];
</script>
